[Unit]
Description=Sconce, a Torch container.
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/geraveoyomama/sconce:latest
ContainerName=%N
AutoUpdate=registry

#UserNS=keep-id
Volume=%h/%N/torch-server:/app/torch-server

#game port
PublishPort=27016:27016/udp
#VNC port
#PublishPort=5009:5900
#noVNC port
PublishPort=6080:6080
#PublishPort=8080:8080 #API port, uncomment if needed

Environment=VNCPASSWORD=
#vnc password, empty disables authentication
Environment=WINEDEBUG=-all
#disable wine barfing logs to terminal
#Environment=WINEDEBUG=+esync
Environment=WINEESYNC=1
#comment to disable ESYNC
Environment=DXVK_ASYNC=1
#should unhook the GUI from main game thread. No performance loss, only possible gains. Disable if GUI doesn't render.
Environment=WINEPARAMS=
#Environment=TORCHFLAGS=-autostart #torch flags. Uncomment to autostart torch

LogDriver=journald


[Service]
ExecStartPre=mkdir -p %h/%N/torch-server
Restart=always

[Install]
# Start by default on boot
WantedBy=default.target
